<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Emailer.Properties.Settings>
      <setting name="SmtpServer" serializeAs="String">
        <value>mail.privateemail.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="FromAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ToAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source="C:\Source\Emailer\SampleDatabase.mdb";Jet OLEDB:Engine Type=5</value>
      </setting>
    </Emailer.Properties.Settings>
  </userSettings>
</configuration>
